{% capture max_width %}
    {% unless section.settings.max_width == blank %}
        {{ section.settings.max_width | prepend: 'max-width: ' | append: 'px;' }}
    {% endunless %}
{% endcapture %}

<article class="">
  <div
    class="mx-auto"
    style="{{ max_width }}"
  >
    <!-- Image -->
    {% unless section.settings.img == blank %}
      {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
      <img
        class="img-fluid mb-5 {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
        src="{{ section.settings.img | img_url: img_size, crop: 'center' }}"
        alt="{{ section.settings.img.alt }}"
        width="{{ section.settings.img_width }}"
        height="{{ section.settings.img_height }}"
      >
    {% endunless %}
    {% comment %}
      <!-- Header -->
      <header class="heading-wrapper mb-2 overflow-hidden text-center">
        <!-- Heading -->
        <h1 class="heading {{ section.settings.heading_size }}">
          {{ page.title }}
        </h1>
      </header>
    {% endcomment %}
    <!-- Description -->
    <div class="description rte">
      {{ page.content }}
    </div>
    <div class="image-with-text">
      <div class="container">
        <div class="row my-10">
          <div class="col-md-6">
            <div class="normal-heading-text">
              {% unless section.settings.box1_heading == blank -%}
                <h2 class="heading h2">{{ section.settings.box1_heading }}</h2>
              {%- endunless %}
              {% unless section.settings.box1_desc == blank %}{{ section.settings.box1_desc }}{% endunless %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-box-img">
              {% if section.settings.left_img == blank %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
              {% else %}
                {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                <img
                  class=" img-fluid h-auto mb-3 {% if section.settings.img_thumbnail %}{% else %}{% endif %}"
                  src="{{ section.settings.left_img | img_url: img_size, crop: 'center' }}"
                  alt="{{ section.settings.left_img.alt | escape }}"
                  loading="lazy"
                >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="who-we-are pink-bg pt-10">
      <div class="container">
        <div class="row mb-10">
          <div class="col-md-12">
            {% unless section.settings.whoWeAreHeading == blank -%}
              <h2 class="heading h2 text-center mb-5">{{ section.settings.whoWeAreHeading }}</h2>
            {%- endunless %}
          </div>
          <div class="col-md-6">
            <div class="why-cuzi">
              <div class="box-img">
                {% if section.settings.why_img == blank %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
                {% else %}
                  {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                  <img
                    class=" img-fluid h-auto mb-2 {% if section.settings.img_thumbnail %}{% else %}{% endif %}"
                    src="{{ section.settings.why_img | img_url: img_size, crop: 'center' }}"
                    alt="{{ section.settings.why_img.alt | escape }}"
                    loading="lazy"
                  >
                {% endif %}
              </div>
              {% unless section.settings.why_heading == blank -%}
                <h2 class="heading h2 text-start">{{ section.settings.why_heading }}</h2>
              {%- endunless %}
              {% unless section.settings.why_desc == blank -%}
                <p>{{ section.settings.why_desc }}</p>
              {%- endunless %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="how-cuzi">
              <div class="box-img">
                {% if section.settings.how_we_img == blank %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
                {% else %}
                  {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                  <img
                    class=" img-fluid h-auto mb-2 {% if section.settings.img_thumbnail %}{% else %}{% endif %}"
                    src="{{ section.settings.how_we_img | img_url: img_size, crop: 'center' }}"
                    alt="{{ section.settings.how_we_img.alt | escape }}"
                    loading="lazy"
                  >
                {% endif %}
              </div>
              {% unless section.settings.how_we_heading == blank -%}
                <h2 class="heading h2 text-start">{{ section.settings.how_we_heading }}</h2>
              {%- endunless %}
              {% unless section.settings.how_we_desc == blank -%}
                <p>{{ section.settings.how_we_desc }}</p>
              {%- endunless %}
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto text-center container-fluid">
        <div class="d-flex align-items-center">
          <img
            class="img-fluid w-100"
            src="https://cdn.shopify.com/s/files/1/0760/4030/6978/files/drink-more-cuzi.png"
          >
        </div>
      </div>
    </div>
  </div>
</article>

{% schema %}
{
    "name": "About us - page",
    "settings": [
      {
            "type": "text",
            "id": "box1_heading",
            "label": "Heading"
        },
      {
            "type": "richtext",
            "id": "box1_desc",
            "label": "Description"
        },
        {
            "type": "image_picker",
            "id": "left_img",
            "label": "Left Side Image"
        },
      {
            "type": "header",
            "content": "Second Section"
        },
      {
            "type": "text",
            "id": "whoWeAreHeading",
            "label": "Who We Are Main Heading"
        },
      {
            "type": "text",
            "id": "why_heading",
            "label": "Why Cuzi"
        },
      {
            "type": "image_picker",
            "id": "why_img",
            "label": "Why Cuzi Image"
        },
      {
            "type": "richtext",
            "id": "why_desc",
            "label": "Why Cuzi Description"
        },

      {
            "type": "text",
            "id": "how_we_heading",
            "label": "how we started"
        },
      {
            "type": "image_picker",
            "id": "how_we_img",
            "label": "how we started Image"
        },
      {
            "type": "richtext",
            "id": "how_we_desc",
            "label": "how we started Description"
        },
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Content max-width (px)",
            "info": "Adjust post content width (in pixels). Leave empty to use the container.",
            "default": "768"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "display-5",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "header",
            "content": "Main image"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "1200"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "675"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        }
    ]
}
{% endschema %}
