{% capture max_width %}
    {% unless section.settings.max_width == blank %}
        {{ section.settings.max_width | prepend: 'max-width: ' | append: 'px;' }}
    {% endunless %}
{% endcapture %}

<article class="">
  <div
    class="mx-auto"
    style="{{ max_width }}"
  >
    <!-- Image -->
    {% unless section.settings.img == blank %}
      {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
      <img
        class="img-fluid mb-5 {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
        src="{{ section.settings.img | img_url: img_size, crop: 'center' }}"
        alt="{{ section.settings.img.alt }}"
        width="{{ section.settings.img_width }}"
        height="{{ section.settings.img_height }}"
      >
    {% endunless %}
    {% comment %}
      <!-- Header -->
      <header class="heading-wrapper mb-2 overflow-hidden text-center">
        <!-- Heading -->
        <h1 class="heading {{ section.settings.heading_size }}">
          {{ page.title }}
        </h1>
      </header>
    {% endcomment %}
    <!-- Description -->
    <div class="description rte">
      {{ page.content }}
    </div>
    <div class="image-with-text">
      <div class="container">
        <div class="row my-10">
          <div class="col-md-6">
            <div class="normal-heading-text">
              {% unless section.settings.box1_heading == blank -%}
                <h2 class="heading h2">{{ section.settings.box1_heading }}</h2>
              {%- endunless %}
              {% unless section.settings.box1_desc == blank %}{{ section.settings.box1_desc }}{% endunless %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-box-img">
              {% if section.settings.left_img == blank %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
              {% else %}
                {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                <img
                  class=" img-fluid h-auto mb-3 {% if section.settings.img_thumbnail %}{% else %}{% endif %}"
                  src="{{ section.settings.left_img | img_url: img_size, crop: 'center' }}"
                  alt="{{ section.settings.left_img.alt | escape }}"
                  loading="lazy"
                >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="who-we-are pink-bg pt-10">
      <div class="container">
        <div class="row mb-8">
          <div class="col-md-12">
            {% unless section.settings.whoWeAreHeading == blank -%}
              <h2 class="heading h2 text-center mb-5">{{ section.settings.whoWeAreHeading }}</h2>
            {%- endunless %}
          </div>
          <div class="col-md-6">
            <div class="why-cuzi">
              <div class="box-img">
                {% if section.settings.why_img == blank %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
                {% else %}
                  {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                  <img
                    class="mt-3 img-fluid h-auto mb-2 {% if section.settings.img_thumbnail %}{% else %}{% endif %}"
                    src="{{ section.settings.why_img | img_url: img_size, crop: 'center' }}"
                    alt="{{ section.settings.why_img.alt | escape }}"
                    loading="lazy"
                  >
                {% endif %}
              </div>
              {% unless section.settings.why_heading == blank -%}
                <h2 class="heading h2 text-start">{{ section.settings.why_heading }}</h2>
              {%- endunless %}
              {% unless section.settings.why_desc == blank -%}
                <p>{{ section.settings.why_desc }}</p>
              {%- endunless %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="how-cuzi">
              <div class="box-img">
                {% if section.settings.how_we_img == blank %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
                {% else %}
                  {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                  <img
                    class="mt-3 img-fluid h-auto mb-2 {% if section.settings.img_thumbnail %}{% else %}{% endif %}"
                    src="{{ section.settings.how_we_img | img_url: img_size, crop: 'center' }}"
                    alt="{{ section.settings.how_we_img.alt | escape }}"
                    loading="lazy"
                  >
                {% endif %}
              </div>
              {% unless section.settings.how_we_heading == blank -%}
                <h2 class="heading h2 text-start">{{ section.settings.how_we_heading }}</h2>
              {%- endunless %}
              {% unless section.settings.how_we_desc == blank -%}
                <p>{{ section.settings.how_we_desc }}</p>
              {%- endunless %}
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto text-center container-fluid">
        <div class="d-flex align-items-center">
          <img
            class="img-fluid w-100"
            src="https://cdn.shopify.com/s/files/1/0760/4030/6978/files/drink-more-cuzi.png"
          >
        </div>
      </div>
    </div>
    <div class="image-with-text">
      <div class="container">
        <div class="row my-10">
          <div class="col-md-12">
            {% unless section.settings.meet_heading == blank -%}
              <h2 class="heading h2 text-center mb-5">{{ section.settings.meet_heading }}</h2>
            {%- endunless %}
            {% unless section.settings.meet_desc == blank %}{{ section.settings.meet_desc }}{% endunless %}
          </div>
        </div>
        <div class="row my-10">
          <div class="col-md-6">
            <div class="contact-box-img">
              {% if section.settings.Director_img == blank %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
              {% else %}
                {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                <img
                  class=" img-fluid h-auto mb-3 {% if section.settings.img_thumbnail %}{% else %}{% endif %}"
                  src="{{ section.settings.Director_img | img_url: img_size, crop: 'center' }}"
                  alt="{{ section.settings.Director_img.alt | escape }}"
                  loading="lazy"
                >
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="normal-heading-text">
              <h3>Director</h3>
              {% unless section.settings.Director_heading == blank -%}
                <h2 class="heading h2">{{ section.settings.Director_heading }}</h2>
              {%- endunless %}
              {% unless section.settings.Director_desc == blank %}{{ section.settings.Director_desc }}{% endunless %}
              <div class="d-flex align-items-center">
                <a class="btn">Contact {{ section.settings.Director_heading }}</a>
                <ul>
                  <li>
                    <a href="">
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#5E1245"/>
                        <path d="M18 17.35H20.1429L21 13.75H18V11.95C18 11.023 18 10.15 19.7143 10.15H21V7.126C20.7206 7.0873 19.6654 7 18.5511 7C16.224 7 14.5714 8.4913 14.5714 11.23V13.75H12V17.35H14.5714V25H18V17.35Z" fill="white"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#5E1245"/>
                        <path d="M12.22 7H19.78C22.66 7 25 9.34 25 12.22V19.78C25 21.1644 24.45 22.4922 23.4711 23.4711C22.4922 24.45 21.1644 25 19.78 25H12.22C9.34 25 7 22.66 7 19.78V12.22C7 10.8356 7.54996 9.50784 8.5289 8.5289C9.50784 7.54996 10.8356 7 12.22 7ZM12.04 8.8C11.1807 8.8 10.3566 9.14136 9.74897 9.74897C9.14136 10.3566 8.8 11.1807 8.8 12.04V19.96C8.8 21.751 10.249 23.2 12.04 23.2H19.96C20.8193 23.2 21.6434 22.8586 22.251 22.251C22.8586 21.6434 23.2 20.8193 23.2 19.96V12.04C23.2 10.249 21.751 8.8 19.96 8.8H12.04ZM20.725 10.15C21.0234 10.15 21.3095 10.2685 21.5205 10.4795C21.7315 10.6905 21.85 10.9766 21.85 11.275C21.85 11.5734 21.7315 11.8595 21.5205 12.0705C21.3095 12.2815 21.0234 12.4 20.725 12.4C20.4266 12.4 20.1405 12.2815 19.9295 12.0705C19.7185 11.8595 19.6 11.5734 19.6 11.275C19.6 10.9766 19.7185 10.6905 19.9295 10.4795C20.1405 10.2685 20.4266 10.15 20.725 10.15ZM16 11.5C17.1935 11.5 18.3381 11.9741 19.182 12.818C20.0259 13.6619 20.5 14.8065 20.5 16C20.5 17.1935 20.0259 18.3381 19.182 19.182C18.3381 20.0259 17.1935 20.5 16 20.5C14.8065 20.5 13.6619 20.0259 12.818 19.182C11.9741 18.3381 11.5 17.1935 11.5 16C11.5 14.8065 11.9741 13.6619 12.818 12.818C13.6619 11.9741 14.8065 11.5 16 11.5ZM16 13.3C15.2839 13.3 14.5972 13.5845 14.0908 14.0908C13.5845 14.5972 13.3 15.2839 13.3 16C13.3 16.7161 13.5845 17.4028 14.0908 17.9092C14.5972 18.4155 15.2839 18.7 16 18.7C16.7161 18.7 17.4028 18.4155 17.9092 17.9092C18.4155 17.4028 18.7 16.7161 18.7 16C18.7 15.2839 18.4155 14.5972 17.9092 14.0908C17.4028 13.5845 16.7161 13.3 16 13.3Z" fill="white"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#5E1245"/>
                        <path d="M25 10.6471C24.3743 10.9353 23.6998 11.1247 23.001 11.2153C23.7161 10.7788 24.2686 10.0871 24.5287 9.25529C23.8542 9.66706 23.1066 9.95529 22.3184 10.12C21.6764 9.41176 20.7744 9 19.7505 9C17.8408 9 16.2806 10.5812 16.2806 12.5329C16.2806 12.8129 16.3131 13.0847 16.37 13.34C13.4771 13.1918 10.9011 11.7835 9.18642 9.65059C8.88576 10.1694 8.71511 10.7788 8.71511 11.4212C8.71511 12.6482 9.32457 13.7353 10.2672 14.3529C9.69025 14.3529 9.15392 14.1882 8.6826 13.9412V13.9659C8.6826 15.6788 9.88528 17.1118 11.478 17.4329C10.9667 17.5748 10.4298 17.5945 9.90966 17.4906C10.1304 18.1926 10.5626 18.8069 11.1457 19.2471C11.7287 19.6873 12.4332 19.9313 13.1601 19.9447C11.9279 20.9333 10.4005 21.4677 8.82887 21.46C8.55258 21.46 8.27629 21.4435 8 21.4106C9.54398 22.4153 11.3805 23 13.347 23C19.7505 23 23.2691 17.6141 23.2691 12.9447C23.2691 12.7882 23.2691 12.64 23.261 12.4835C23.9436 11.9894 24.5287 11.3635 25 10.6471Z" fill="white"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#5E1245"/>
                        <path d="M23 17.8096V24H19.7849V18.224C19.7849 16.7727 19.3197 15.7827 18.1563 15.7827C17.268 15.7827 16.7389 16.4505 16.5067 17.0956C16.4218 17.3263 16.4 17.6477 16.4 17.9706V24H13.1834C13.1834 24 13.227 14.2181 13.1834 13.2039H16.4V14.7341L16.3789 14.7693H16.4V14.7341C16.8268 14 17.5897 12.9505 19.2979 12.9505C21.4135 12.9505 23 14.4941 23 17.8096ZM9.81948 8C8.71998 8 8 8.80537 8 9.86493C8 10.901 8.69893 11.7307 9.77739 11.7307H9.79844C10.9205 11.7307 11.6172 10.901 11.6172 9.86493C11.5976 8.80537 10.9212 8 9.82023 8H9.81948ZM8.19089 24H11.406V13.2039H8.19089V24Z" fill="white"/>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-10">
          <div class="col-md-6">
            <div class="normal-heading-text">
              <h3>Co-Founder</h3>
              {% unless section.settings.founder_heading == blank -%}
                <h2 class="heading h2">{{ section.settings.founder_heading }}</h2>
              {%- endunless %}
              {% unless section.settings.founder_desc == blank %}{{ section.settings.founder_desc }}{% endunless %}
              <div class="d-flex align-items-center">
                <a class="btn">Contact {{ section.settings.founder_heading }}</a>
                <ul>
                  <li>
                    <a href="">
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#5E1245"/>
                        <path d="M18 17.35H20.1429L21 13.75H18V11.95C18 11.023 18 10.15 19.7143 10.15H21V7.126C20.7206 7.0873 19.6654 7 18.5511 7C16.224 7 14.5714 8.4913 14.5714 11.23V13.75H12V17.35H14.5714V25H18V17.35Z" fill="white"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#5E1245"/>
                        <path d="M12.22 7H19.78C22.66 7 25 9.34 25 12.22V19.78C25 21.1644 24.45 22.4922 23.4711 23.4711C22.4922 24.45 21.1644 25 19.78 25H12.22C9.34 25 7 22.66 7 19.78V12.22C7 10.8356 7.54996 9.50784 8.5289 8.5289C9.50784 7.54996 10.8356 7 12.22 7ZM12.04 8.8C11.1807 8.8 10.3566 9.14136 9.74897 9.74897C9.14136 10.3566 8.8 11.1807 8.8 12.04V19.96C8.8 21.751 10.249 23.2 12.04 23.2H19.96C20.8193 23.2 21.6434 22.8586 22.251 22.251C22.8586 21.6434 23.2 20.8193 23.2 19.96V12.04C23.2 10.249 21.751 8.8 19.96 8.8H12.04ZM20.725 10.15C21.0234 10.15 21.3095 10.2685 21.5205 10.4795C21.7315 10.6905 21.85 10.9766 21.85 11.275C21.85 11.5734 21.7315 11.8595 21.5205 12.0705C21.3095 12.2815 21.0234 12.4 20.725 12.4C20.4266 12.4 20.1405 12.2815 19.9295 12.0705C19.7185 11.8595 19.6 11.5734 19.6 11.275C19.6 10.9766 19.7185 10.6905 19.9295 10.4795C20.1405 10.2685 20.4266 10.15 20.725 10.15ZM16 11.5C17.1935 11.5 18.3381 11.9741 19.182 12.818C20.0259 13.6619 20.5 14.8065 20.5 16C20.5 17.1935 20.0259 18.3381 19.182 19.182C18.3381 20.0259 17.1935 20.5 16 20.5C14.8065 20.5 13.6619 20.0259 12.818 19.182C11.9741 18.3381 11.5 17.1935 11.5 16C11.5 14.8065 11.9741 13.6619 12.818 12.818C13.6619 11.9741 14.8065 11.5 16 11.5ZM16 13.3C15.2839 13.3 14.5972 13.5845 14.0908 14.0908C13.5845 14.5972 13.3 15.2839 13.3 16C13.3 16.7161 13.5845 17.4028 14.0908 17.9092C14.5972 18.4155 15.2839 18.7 16 18.7C16.7161 18.7 17.4028 18.4155 17.9092 17.9092C18.4155 17.4028 18.7 16.7161 18.7 16C18.7 15.2839 18.4155 14.5972 17.9092 14.0908C17.4028 13.5845 16.7161 13.3 16 13.3Z" fill="white"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#5E1245"/>
                        <path d="M25 10.6471C24.3743 10.9353 23.6998 11.1247 23.001 11.2153C23.7161 10.7788 24.2686 10.0871 24.5287 9.25529C23.8542 9.66706 23.1066 9.95529 22.3184 10.12C21.6764 9.41176 20.7744 9 19.7505 9C17.8408 9 16.2806 10.5812 16.2806 12.5329C16.2806 12.8129 16.3131 13.0847 16.37 13.34C13.4771 13.1918 10.9011 11.7835 9.18642 9.65059C8.88576 10.1694 8.71511 10.7788 8.71511 11.4212C8.71511 12.6482 9.32457 13.7353 10.2672 14.3529C9.69025 14.3529 9.15392 14.1882 8.6826 13.9412V13.9659C8.6826 15.6788 9.88528 17.1118 11.478 17.4329C10.9667 17.5748 10.4298 17.5945 9.90966 17.4906C10.1304 18.1926 10.5626 18.8069 11.1457 19.2471C11.7287 19.6873 12.4332 19.9313 13.1601 19.9447C11.9279 20.9333 10.4005 21.4677 8.82887 21.46C8.55258 21.46 8.27629 21.4435 8 21.4106C9.54398 22.4153 11.3805 23 13.347 23C19.7505 23 23.2691 17.6141 23.2691 12.9447C23.2691 12.7882 23.2691 12.64 23.261 12.4835C23.9436 11.9894 24.5287 11.3635 25 10.6471Z" fill="white"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#5E1245"/>
                        <path d="M23 17.8096V24H19.7849V18.224C19.7849 16.7727 19.3197 15.7827 18.1563 15.7827C17.268 15.7827 16.7389 16.4505 16.5067 17.0956C16.4218 17.3263 16.4 17.6477 16.4 17.9706V24H13.1834C13.1834 24 13.227 14.2181 13.1834 13.2039H16.4V14.7341L16.3789 14.7693H16.4V14.7341C16.8268 14 17.5897 12.9505 19.2979 12.9505C21.4135 12.9505 23 14.4941 23 17.8096ZM9.81948 8C8.71998 8 8 8.80537 8 9.86493C8 10.901 8.69893 11.7307 9.77739 11.7307H9.79844C10.9205 11.7307 11.6172 10.901 11.6172 9.86493C11.5976 8.80537 10.9212 8 9.82023 8H9.81948ZM8.19089 24H11.406V13.2039H8.19089V24Z" fill="white"/>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-box-img">
              {% if section.settings.founder_img == blank %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
              {% else %}
                {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                <img
                  class=" img-fluid h-auto mb-3 {% if section.settings.img_thumbnail %}{% else %}{% endif %}"
                  src="{{ section.settings.founder_img | img_url: img_size, crop: 'center' }}"
                  alt="{{ section.settings.founder_img.alt | escape }}"
                  loading="lazy"
                >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

{% schema %}
{
    "name": "About us - page",
    "settings": [
      {
            "type": "text",
            "id": "box1_heading",
            "label": "Heading"
        },
      {
            "type": "richtext",
            "id": "box1_desc",
            "label": "Description"
        },
        {
            "type": "image_picker",
            "id": "left_img",
            "label": "Left Side Image"
        },
      {
            "type": "header",
            "content": "Second Section"
        },
      {
            "type": "text",
            "id": "whoWeAreHeading",
            "label": "Who We Are Main Heading"
        },
      {
            "type": "text",
            "id": "why_heading",
            "label": "Why Cuzi"
        },
      {
            "type": "image_picker",
            "id": "why_img",
            "label": "Why Cuzi Image"
        },
      {
            "type": "richtext",
            "id": "why_desc",
            "label": "Why Cuzi Description"
        },

      {
            "type": "text",
            "id": "how_we_heading",
            "label": "how we started"
        },
      {
            "type": "image_picker",
            "id": "how_we_img",
            "label": "how we started Image"
        },
      {
            "type": "richtext",
            "id": "how_we_desc",
            "label": "how we started Description"
        },
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Content max-width (px)",
            "info": "Adjust post content width (in pixels). Leave empty to use the container.",
            "default": "768"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "display-5",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "header",
            "content": "Main image"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "1200"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "675"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        }
    ]
}
{% endschema %}
