{% capture max_width %}
    {% unless section.settings.max_width == blank %}
        {{ section.settings.max_width | prepend: 'max-width: ' | append: 'px;' }}
    {% endunless %}
{% endcapture %}

<article class="">

    <div 
        class="container mx-auto"
        style="{{ max_width }}">

      {% comment %}
        <!-- Header -->
        <div class="heading-wrapper mb-0 overflow-hidden text-center">

            <!-- Heading -->
            <h1 class="heading {{ section.settings.heading_size }}">
                {{ page.title }}
            </h1>

        </div>
      

        <!-- Description -->
        <div class="description rte text-center text-muted overflow-hidden mb-4">
            {{ page.content }}
        </div>
        {% endcomment %}
        <div class="row my-10">
          <div class="col-md-6">
              <div class="contact-box">
                 {% unless section.settings.box1_heading == blank %}<h6>{{ section.settings.box1_heading }}</h6>{% endunless %}
                  {% unless section.settings.box1_desc == blank %}{{ section.settings.box1_desc }}{% endunless %}
                  <div class="d-flex">
                    <div class="small-img-box">
                        <!-- Image -->
                        {% if section.settings.locationIcon == blank %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
                        {% else %}
                        <img 
                            class="many-variations-img img-fluid {% if section.settings.img_thumbnail %}img-thumbnail{% else %}{% endif %}"
                            src="{{ section.settings.locationIcon | img_url: img_size, crop: 'center' }}"
                            alt="{{ section.settings.locationIcon.alt | escape }}" 
                            
                            loading="lazy">
                        {% endif %}
                        <div class="cont-tab">
                            <h6>Location</h6>
                            <p>{{ section.settings.locationText }}</p>
                        </div>
                    </div>
<div class="small-img-box">
                        <!-- Image -->
                        {% if section.settings.emailIcon == blank %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
                        {% else %}
                        <img 
                            class="many-variations-img img-fluid {% if section.settings.img_thumbnail %}img-thumbnail{% else %}{% endif %}"
                            src="{{ section.settings.emailIcon | img_url: img_size, crop: 'center' }}"
                            alt="{{ section.settings.emailIcon.alt | escape }}" 
                            
                            loading="lazy">
                        {% endif %}
                        <div class="cont-tab">
                            <h6>Email Us</h6>
                            <p>{{ section.settings.emailText }}</p>
                        </div>
                    </div>
                    
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="contact-box-img">
            {% if section.settings.left_img == blank %}
{{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
{% else %}
{% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
<img 
    class=" img-fluid mb-3 {% if section.settings.img_thumbnail %}img-thumbnail{% else %}{% endif %}"
    src="{{ section.settings.left_img | img_url: img_size, crop: 'center' }}"
    alt="{{ section.settings.left_img.alt | escape }}"  
    loading="lazy">
{% endif %}
            </div>
          </div>
          
        </div>
        <!-- Contact form -->
        {% form 'contact', class: 'contact-form my-8' %}

            <!-- Form success -->
            {% if form.posted_successfully? %}
                <p class="form-success alert alert-success mb-4" role="alert">
                    {{ 'general.contact.post_success' | t }}
                </p>
            {% endif %}

            <!-- Form errors -->
            {{ form.errors | default_errors }}

            <!-- Form fields -->
            <div class="row g-3 mb-3">
                <div class="form-group col-md-4">
                    <input 
                        class="form-control" 
                        type="text" 
                        name="contact[name]" 
                        id="ContactFormName" 
                        value="{{ customer.name }}"  
                        placeholder="{{ 'general.contact.name' | t }}" 
                        aria-label="{{ 'general.contact.name' | t }}" 
                        required>
                </div>

                <div class="form-group col-md-4">
                    <input 
                        class="form-control" 
                        type="email" 
                        name="contact[email]" 
                        id="ContactFormEmail" 
                        value="{{ customer.email }}" 
                        placeholder="{{ 'general.contact.email' | t }}" 
                        aria-label="{{ 'general.contact.email' | t }}" 
                        spellcheck="false" 
                        autocomplete="off" 
                        autocapitalize="off" 
                        required>
                </div>

                <div class="form-group col-md-4">
                    <input 
                        class="form-control" 
                        type="tel" 
                        name="contact[phone]" 
                        id="ContactFormPhone" 
                        value="{{ customer.phone }}" 
                        placeholder="{{ 'general.contact.phone' | t }}" 
                        aria-label="{{ 'general.contact.phone' | t }}" 
                        pattern="[0-9\-]*">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group mb-3">
                <textarea 
                    class="form-control" 
                    rows="8" 
                    name="contact[body]" 
                    id="ContactFormMessage" 
                    placeholder="{{ 'general.contact.message' | t }}" 
                    aria-label="{{ 'general.contact.message' | t }}" 
                    required>
                    {%- if form.body -%}
                        {{- form.body -}}
                    {%- endif -%}
                </textarea>
            </div>

            <!-- Submit btn -->
            <input 
                type="submit" 
                class="btn btn-primary" 
                value="{{ 'general.contact.send' | t }}">
        {% endform %}

    </div>
</article>

{% schema %}
{
    "name": "Contact us - page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
      {
            "type": "text",
            "id": "box1_heading",
            "label": "Heading"
        },
      {
            "type": "richtext",
            "id": "box1_desc",
            "label": "Description"
        },
        {
            "type": "image_picker",
            "id": "left_img",
            "label": "Left Side Image"
        },
      {
            "type": "header",
            "content": "General settings"
        },
      {
            "type": "image_picker",
            "id": "locationIcon",
            "label": "Location Icon"
        },
        {
            "type": "text",
            "id": "locationText",
            "label": "Address"
        },
        {
            "type": "header",
            "content": "Email Info"
        },
        {
            "type": "image_picker",
            "id": "emailIcon",
            "label": "Email Icon"
        },
        {
            "type": "text",
            "id": "emailText",
            "label": "Email ID"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Content max-width (px)",
            "info": "Adjust post content width (in pixels). Leave empty to use the container.",
            "default": "768"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "display-5",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        }
    ]
}
{% endschema %}